@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>
    The Dancing Star is a gnomish company with the goal of revolutionizing the way we shop through the use of the internet. We are dedicated to 
    providing a wide range of magic items at a reasonably price. All our items are guarranteed to last so that they won't break on you when you
    most need them.
</p>
<p>
    The Dancy Star all began when a group of 3 gnomes, Arini, Abrus and Erner from Mardany left in search of the mythical Dancing Star that was said to grant anyone
    who possessed it eternal life. The group searched for months slaying goblins, kobolds, rabbit wolves, ogres, giants, dragons and strange tenticled creatures that
    could tear holes in the very fabric of reality itself. 
</p>
<p>
    One day the group came upon a massive portal leading to a gloomy realm filled with shadows that seemed
    to move of their own accord. The group entered the portal and made their way through the mist and shadows to find themself infront of a black keep from which
    emanated a dull red glow. The group made their way through the keep and up the stairs easily dispaching the skeletons, black ice snowmen with hidious
    red eyes and sharp teeth, crawling hands and other abominations that got in their way. On the roof of the keep stood a skeletal figure in a black robe covered
    in black ice that seemed to drip a strange green mist, the figure's left eye socket was a black star-filled void and its right eye socket contained a dull red
    glowing orb. The figure turned to the group and said "are right on time". "On time for what" asked Arini, "for me to fead on your souls of course" said
    the robed figure with a gruesome smile as it raised its right hand, its left hand tracing a delicate pattern in the air. A bolt of ice shot from
    the it right hand shattering on a hastily erected shield of arcane energy mere centimeters from Arini's face. Abrus pulled the trigger on his
    small crossbow made from intricately connected kogs and in rapid succession three bolts darted towards the sheletal figure. where the bolts
    hit the sheletal figure, it whirled out of shape and then the sheletal figure's body drifted away as if made of mist. Suddenly the sheletal
    figure appeared behind Abrus throusting a blade of force into his back, Abrus took a step forward before falling to the ground coughing up blood.
    Seeing Abrus fall Erner rusted the sheletal figure screeming with his greatsword raised high, flames bursting from it. As Erner rusted forward,
    a layer of ice formed across the floor beneath him sending him flying into a stone seat with a mighty thud. The sheletal figure turned to Arini with a smirk on
    its rotten desiccated face, "You realy think you stand a chance agaists me? For I have conquered time itself". Just then an orb of fire streaked from Arini toward
    the sheletal figure. The sheletal figure caught the orb between its hands and as it started to explode an invisible force crushed the orb until it flickered out.
    The sheletal figure smiled a wicked smiled and raised its hands causing ice to surround Arini and trap her in place. It then moved toward Arini putting its face in
    her face and said "I'm going to enjoy consuming your soul". In desperation Arini bit at the creatures face ripping the glowing red eye from its socket. Suddenly
    a surge of pain shot through her body as her flesh began to wither and rot, her lips shrinking back and cracking revealing yellowed teeth. The figure infront of
    her screaked out as it turned into ask and merged with Arini's body. Arini felt a pressure on the top of her mouth as the orb pushed its way into her eye 
    socket sending her eye rolling across the ground.
</p>
<p>
    Arini's vision faded as the ice around her melted and she fell to the ground. The next thing she knew, she was in the woods following
    a young human man into a clearing. She looked down and saw that she was in the body of a young female human with a neckless that contained a bright yellow glow
    that appeared to flicker and dance around. Her vision faded again and when she regained it, she was beside the bed of an old man. The man's eyes where closed and
    he didn't appear to be breathing. A tear rolled down Arini's face and as she wiped it away she saw that her hand was still young. What is the point of living
    forever if couldn't be will him she thought. she had to turn back time. Her vision faded again and when it returned she saw the body of herself on the ground and
    in her hand was the Dancing Star neckless, however, its color was fading to red. She looked at herself in the near by mirror. Her skin was rotted and scriveled,
    her left eye was a a dull red orb, and her right eye socket was an empty holo. She now had both her Dancing Star and past her's Dancing Star, she could be
    with him forever. She saw him enter the room and when he saw the body on the floor he rushed it her with his fist raised. She raised for hand to try and defend
    herself but a bolt of ice streaked forward from her hand impaling him and he slumped to the ground dead. She stared at his body for awhile, her memories of him
    being plucked from her mind one by one. She looked at herself in the mirror again and realized that her left eye was no longer the Dancing Star but was a
    star filled void. Everything about her was being lost, only the Dancing Star she was holding was stopping her from fading away completely. She needed to 
    go back in time again and merge with her previous self but it would be harder this time. It would require the soul of a powerful person.
</p>
<p>
    Arini's vision faded again, but this time when she awoke she was in her own body. She saw the blooding body of Abrus near her and she crawled over. All she had to
    do was use his soul to travel back in time and she could set everything right. As she bent over him and started draining his soul, a flaming sword thrust through
    her chest and she dropped to the ground. 
</p>
<p>
    Thanks to a few healing potions that Erner had brought with him, Abrus and him where able to get back into a good enough state to carry Arini back to town.
    In town they were able to spend some of the money they had aquired in there adventures to bring Arini back to life. The three friend decided that adventuring
    wasn't for them after all and set up a small magic item shop called The Dancing Star in their home town Mardany. In time, the shop grow large, however,
    if you visit you can still find Arini enchanting all manner of items, Abrus designing and crafting strange new weapons that he likes to call "guns", and
    Erner playing and crafting some of the finist most enchanting musical instruments in the land.
</p>
