@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    The Dancing Star, Buttermore Place<br />
    Mardany city, The Pembarium Empire<br />
</address>

<dl class="dl-horizontal">
    <dt>
        Contact Sigil:
    </dt>
    <dd>
        <address><img src="~/Content/Icons/ContactSigil.jpg" alt="Contact Sigil" class="icon" /></address>
    </dd>
    <dt>
        Teleportation Sigil:
    </dt>
    <dd>
        <address><img src="~/Content/Icons/TeleportationSigil.png" aly="Teleportation Sigil" class="icon" /></address>
    </dd>
    <dt>
        <strong>Support:</strong>
    </dt>
    <dd>
        <address><a href="mailto:Support@example.com">Support@TheDancingStar.com</a></address>
    </dd>
</dl>