@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Dancing Star</h1>
    <p class="lead">The Dancing Star is an online store where modern adventurers can go to to buy magic weapons, armor and other items
    to keep them alive even in the darknest of dungeons.</p>
    <p>If you went on an adventure without our supplies and one of your party members died, fear not for we have scrolls of resurrection at unbeatable prices.</p>
    <p>The Dancing Star donates 5% of all your purchases to The Mage's Guild in order to keep the internet a free open place where you can share ideas.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Instant Shipping</h2>
        <p>
            No matter which plane of existence you live on or where your live on that plane, your items will be teleported to you within a day or you will get
            your items for free. Terms and conditions apply.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Shop In Your Native Language</h2>
        <p>Wheather you speak elvish, gnomish or even celestial this page has been enchanted to appear in your native language.</p>
    </div>
    <div class="col-md-4">
        <h2>Quality guaranteed</h2>
        <p>
            All non-consumable magic items come with a 5-year warrently. Should there be any exceptions to this, they will be noted in the items descriptions.
            Terms and conditions apply.
        </p>
    </div>
</div>